graphql-python/hackernews/hackernews/__pycache__/*
graphql-python/hackernews/hackernews/__pycache__/settings.cpython-36.pyc
.DS_Store
graphql-python/hackernews/hackernews/__pycache__/urls.cpython-36.pyc
